<template name="ApplicationLayout">
    <head>
        <title>DoftheA</title>
        <meta name="author" content="BeiSoNg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="DoftheA - Outpicker">
        <meta name="description" content="DoftheA -  Dota 2 Outpicker - Counter Picker based on pick/ban stats from thousands of pro games">

        <meta name="keywords"
              CONTENT="dofthea, dofthea outpicker, dofthea counter, dota counterpicker, dota counter pick, dota hero counters, dota fantasy league, dota 2 counter picker">
        <meta name="Description" CONTENT="DoftheA -  Dota 2 Outpicker - Counter Picker based on pick/ban stats from thousands of pro games
        ">
    </head>

    <div>
        {{> navbar}}
    </div>

    <div class="container">
        {{> yield region="body"}}
    </div>

    <footer class="footer">
        {{> footer}}
    </footer>
</template>
